<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="build/styles.css" rel="stylesheet">
    <link href="css/styles.css" rel="stylesheet">
</head>
<body>
<p>Your budget is: {{ budget }}</p>
<p>{{ message }}</p>
<form method="post">
    <label for="buyStock">Enter how many Stock You want to buy</label><br>
    <input class="border-2" type="text" id="buyStock" name="amount"><br><br>
    <input class="border-2" type="submit" name="submit2" value="Accept">
</form>
<p>{{ amountMessage }}</p>
</body>
</html>